.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.messagesContainer {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f1f1f1;
  max-width: 60%;
  word-wrap: break-word;
  display: flex;
  align-items: center;

}

.sent {
  align-self: flex-end;
  background-color: #d1ffd1;
  margin-left: auto;
}

.received {
  align-self: flex-start;
  background-color: #e0e0e0;
  margin-right: auto;
}

.deleteButton {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
}

.inputContainer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.inputField {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.sendButton {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}