.sideNavContainer {
    width: 250px;
    background-color: #f4f4f4;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ddd;
  }

  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .logoutButton {
    align-self: center;
    padding: 10px 20px;
    border: none;
    background-color: #e56262;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .logoutButton:hover {
    background-color: #ff1a1a;
  }